<nav-bar></nav-bar>

<div class="row" style="margin-bottom: 55px;">
  <div ng-repeat="tc in teamComps" class="col-md-2">
    <center><h1 ng-class="{'active': showTeam == tc.abbr, 'clickable': true}" ng-click="showTeamComp(tc.abbr)" style="font-size:16pt;">{{tc.name | uppercase}}</h1></center>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="col-md-2"><h3>skPrismo</h3></th>
      <th class="col-md-2"><h3>SuitXUp</h3></th>
      <th class="col-md-2"><h3>skBMO</h3></th>
      <th class="col-md-2"><h3>SlyDynamo</h3></th>
      <th class="col-md-2"><h3>YellowHappy</h3></th>
      <th class="col-md-2"><h3>skSkycon</h3></th>
    </tr>
  </thead>
  <tbody ng-repeat="tc in teamComps" ng-if="showTeam == tc.abbr">
    <tr class="champs">
      <td class="col-md-2">
        <img ng-repeat="p1c in tc.p1Champs" ng-src="/images/champions/{{p1c}}_{{num}}.jpg" >
      </td>
      <td class="col-md-2">
        <img ng-repeat="p2c in tc.p2Champs" ng-src="/images/champions/{{p2c}}_{{num}}.jpg" >
      </td>
      <td class="col-md-2">
        <img ng-repeat="p3c in tc.p3Champs" ng-src="/images/champions/{{p3c}}_{{num}}.jpg" >
      </td>
      <td class="col-md-2">
        <img ng-repeat="p4c in tc.p4Champs" ng-src="/images/champions/{{p4c}}_{{num}}.jpg" >
      </td>
      <td class="col-md-2">
        <img ng-repeat="p5c in tc.p5Champs" ng-src="/images/champions/{{p5c}}_{{num}}.jpg" >
      </td>
      <td class="col-md-2">
        <img ng-repeat="p6c in tc.p6Champs" ng-src="/images/champions/{{p6c}}_{{num}}.jpg" >
      </td>
    </tr>
  </tbody>
</table>

<center class="row" style="margin-top:55px;">
  <h4>
    <a href="http://leagueoflegends.wikia.com/wiki/User_blog:Andrew.heo1/Notable_Team_Compositions" target="_blank">Notable Team Comps by Andrew.heo1</a>
  </h4>
</center>
